body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
}

body,
html {
    /*display:flex;
    flex-direction:column;*/
    background-color: #ebebeb;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body:before{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

canvas
{
    position: absolute;
}

#informationBox {
    background-color: #e9ecff;
   /*  color:white; */
    border:4px solid #4f5586;
    border-radius:10px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 1px 10px #3e3e3e;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    
    font-size:15px;
    margin:  10px;
    height: 70px;  

}

#gameArea {
    background-color: #ece7e7;
    border: 2px solid red;
    box-shadow: 0 1px 10px #3e3e3e;
    font-size: 0;
}

#gameArea div
{

    text-align:center;
    color: rgba(0, 89, 255, 0.884);  
    /*-webkit-text-stroke: 3px royalblue;*/
}

#gameArea .titleChinese
{
    margin-top:40px;
    font-size: 40px;
}
#gameArea .titleEnglish
{
    font-size: 30px;
}

#gameArea .mode div
{
    margin-top:20px;
    font-size:30px;
}


#controlPannel {
    display: grid;
    height:200px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    margin-top:10px;
    margin-left: 50px;
    margin-right: 50px;
}

.controlButton
{
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    background-color: #fa5a5a;
    box-shadow: 0px 8px 0px #E04342;
    margin:10px;
    height:40px;
}