body,h1,h2,h3,h4,h5,p,ul {
    margin: 0;
}

body,html{
    background-color: #ebebeb;
    margin:0px;
    width: 100%;
    height: 100%;
}

#headerBox {
    /* display:flex;*/
    height: 60px;
    background-color: white;
}

#headerBox-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

#picture
{
    display: grid;
    grid-template-columns:50% 50%;
}
#picture div{
    height: 180px;
}
#picture .first
{
    background-image: url(images/cat1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
#picture .second
{
    background-image: url(images/cat2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.gap {
    height: 10px;
}

#mainContentBox {
    background-color: white;

}

.contentBox {
    z-index: 0;
    padding: 15px 0 14px;
    margin: 0 15px;
    border-bottom: .5px solid #d3d3d3;
}

.contentBox .title {
    font-weight: 600;
    font-size: 20px;
    color: #1a1a1a;
    line-height: 22px;

}

.contentBox .abstractBox {
    padding-top: 9px;
    font-size: 15px;
    width: 100%;

}
.contentBox .date {
    font-size: 15px;
    color: #999;
    padding-top: 9px;

}

#screenLine{
    position: fixed;
    left:80%;
    top:0%;
    width:1px;
    background-color: pink;
    height:100%;
}
